

body {
    background-image: url('img/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat
}


nav{
    background-color: rgb(14, 31, 44);
    width: 100%;
}

.profile{
    background-color: rgb(14, 31, 44);
    border-image: 4px;
}



.profilepic img{
    border-radius: 50%;
}

.pic{
    border-image: 50%;
}

.profile-content{
    text-align: center;
    color:rgb(237, 201, 222);
}

.intro{
    border-radius: 6px;
    margin: 10px;
}


.accordion{
    color:  rgb(30, 66, 94);
}


.media-body{
    margin: 5px;
    float: right;
    color: white;
    
}

.name{
    color: white;
}

.aboutme{
    margin-top: 30px;
    color:white;
}

.library{
    width: 50%;
}

.sidenote{
    font-style: italic;
    color: red;
}





